<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Mouse and Mice</title>
  </head>
  <body>
    <div class="containerhome">
      <!-- Title Section -->
      <p> Welcome To<p>

      </p><h1>Mouse and Mice</h1>
      <h2>Can You Click It?</h2>
      <p>Welcome to your mouse collection app!</p>

      <!-- Image Section -->
      <img src="/images/mouse2.png" alt="Happy Mouse">

      <!-- Button Section -->
      <div class="button-group">
        <a href="/mice/new" class="box-link">Add a New Mouse</a>
        <a href="/mice" class="box-link">Browse Mice</a>
      </div>


    <footer>
      Icons by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
    </footer>
  </body>
</html>
